* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.carousel-item {
  height: 500px;
}

.shiva {
  padding-right: 10px;
}




.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #E91E63;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #E91E63;
}

.footer {
  height: 70%;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding-bottom: 20px;
}

#big {
  font-size: 60px;
  font-weight: 600;
}

.address {
  font-size: 20px;
}

#product {
  font-size: 30px;
}

.card {
  margin-left: 55px;
  background-color: aquamarine;
  margin-bottom: 30px;
}

.card-text {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

#brands {
  text-align: center;
}

.img-fluid {
  width: 100%;
  height: 500px;
  user-select: auto;
}

.html {
  scroll-behavior: smooth;
}

.backimg1 {
  background-image: url("image/brands/b1.jpg"); }
.backimg3{
    background-image: url("image/brands/b3.jpg"); }
.backimg5{
  background-image: url("image/brands/b5.jpg");
}


.backimg1, .backimg3, .backimg5{
  height: 350px;
  position: relative;
 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img{
  width: 100%;
}

.shibam{
  font-size: medium;
  font-weight: bold;
  text-align: center;
}

.shibtitle{
  color:black;
  text-align: center;
  text-decoration: none;
}

#contact{
  color: white;
  text-decoration: none;
}
.namebar{
  background-color: black;
  width: 100%;
  text-align: center;
  padding-top: 10px;
   height: 80px;
  font-style: italic;
  position: absolute;
  color: white;
 }
 .fstimg{
   width: 100%;
   height: 400px;

 }
 .imgsize{
   width: 280x;
   height: 280px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 40px;
   box-shadow: black;
 }

 .bodycol{
   background-color: #F8BBD0;
 }